<footer style="background-color:#474747">
  <div class="container">
    <div class="directory">
      <div class="footer-l">
        <div class="about-cq">
          <span class="directory-title">关于常青社区</span>
          <p>常青社区是国内领先的社区服务机构，主要针对社区健康、社区活动、社区邻里交流等方面，积累了较高的口碑评价，拥有强大的产业研究、技术研发及服务运营能力。</p>
        </div>
        <div class="">
          <span class="directory-title">微信公众号</span>
          <%= image_tag("changqing/home_weixin_bg.png") %>
        </div>
      </div>
      <div class="footer-r">
        <div class="">
          <a href="/community"><span class="directory-title">认识邻居</span></a>

          <ul>
            <li><a href="/community#home">认识邻居</a></li>
            <li><a href="/community#work">生活服务家</a></li>
            <li><a href="/community#contact">小区留言板</a></li>
          </ul>
        </div>
        <div class="">
          <a href="/health"><span class="directory-title">新家庭计划</span></a>

          <ul>
            <li><a href="/health#home">婴幼儿观察指导</a></li>
            <li><a href="/health#work">睦邻家园</a></li>
            <li><a href="/health#contact">家庭医生</a></li>
          </ul>
        </div>
        <div class="">
          <a href="/club"><span class="directory-title">常青俱乐部</span></a>
          <ul>
            <li><a href="/club">基本介绍</a></li>
            <li><a href="/club">课程介绍</a></li>
            <li><a href="/club">课程安排</a></li>
          </ul>
        </div>
        <div class="">
          <a href="/about"><span class="directory-title">关于我们</span></a>

          <ul>
            <li><a href="/about#home">公司简介</a></li>
            <li><a href="/about#work">企业文化</a></li>
            <li><a href="/about#contact">核心价值</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="bottom-info">
  <div class="top">
    <span>北京筑云氢氧信息技术有限公司</span>
    <span>地址：北京市朝阳区南湖南路8号风格雅园北楼三单元101室</span>
    <span>010-8476 0992</span>
  </div>
  <div class="bott">
    <span>京ICP备17056026号-1</span>
  </div>
</div>

<div class="policy-links">
  <span>常青社区</span>
  <ul>
    <li><a href="/community">认识邻居</a></li>
    <li>|</li>
    <li><a href="/health">新家庭计划</a></li>
    <li>|</li>
    <li><a href="/club">常青俱乐部</a></li>
    <li>|</li>
    <li><a href="/about">关于我们</a></li>
  </ul>
</div>
<div class="company-name"><span>北京筑云氢氧信息技术有限公司 京ICP备17056026号-1</span></div>
