<div class="container linlibang">
  <div class="visual">
    <!-- visualNav default menu -->
      <div id="sidemenu">
        <ul class="caidan">
          <li class="first"><a href="#home"><span>公司简介</span><span>></span></a></li>
          <li class="second"><a href="#work"><span>企业文化</span><span>></span></a></li>
          <li class="last"><a href="#contact"><span>核心价值</span><span>></span></a></li>
        </ul>
      </div>

      <!-- main contents -->
      <div class="v-con">

        <div id="home" class="content">
          <div class="inner-content">
            <span class="home-title">公司简介</span>
            <hr>
            <ul class="fl_r">
              <li>
                <div class="communication">
                  <div class="page-content">
                    <div class="">
                      <span class="gongsijianjie">常青社区是国内领先的社区服务机构，主要针对社区健康、社区活动、社区邻里交流等方面，积累了较高的口碑评价。</span>
                      <span class="guanli">常青社区管理以及核心技术团队有着丰富的互联网从业经验以及国内外深厚医疗背景。拥有强大的产业研究、技术研发及服务运营能力。</span>
                      <div class="qyjs-pic">
                        <%= image_tag("changqing/enterprise_pho.jpg") %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="work" class="content">
          <div class="inner-content">
            <span class="home-title">企业文化</span>
            <hr>
            <ul class="fl_r">
              <li>
                <div class="showcasing">
                  <div class="page-content page-about">
                    <div class="wh-l">
                      <div class="dingwei">
                        <span class="dw">常青的定位</span>
                        <span class="dw-c">嵌入到社区，成为社区生活的一部分</span>
                      </div>
                      <div class="yuanjing">
                        <span class="yj">常青的愿景</span>
                        <span class="yj-c">成为未来社区综合服务交流的的高品质智慧平台</span>
                      </div>
                    </div>
                    <div class="wh-r">
                      <%= image_tag("changqing/culture_pho.jpg") %>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="contact" class="content">
          <div class="inner-content">
            <span class="home-title">核心价值</span>
            <hr>
            <ul class="fl_r">
              <li>
                <div class="life">
                  <div class="page-content">
                    <ul class="bjt-box">
                      <li class="convenience">
                        <div class="beijingtu">
                          <div class="box1">
                              <span class="text">便捷</span>
                              <span class="fw">常青社区致力于社区服务的便捷化，为社区用户提供高品质的便捷服务</span>
                          </div>
                        </div>
                      </li>
                      <li class="convenience">
                        <div class="beijingtu1 beijingtu">
                          <div class="box1">
                              <span class="text">专业</span>
                              <span class="fw">常青社区专注于社区服务，不断提升社区服务内容，不断完善社区服务体系。</span>
                          </div>
                        </div>
                      </li>
                      <li class="convenience">
                        <div class="beijingtu2 beijingtu">
                          <div class="box1">
                              <span class="text">安全</span>
                              <span class="fw">常青社区提供安全的解决方案，提升社区邻里交流、社区服务的安全性</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
  </div>
</div>

<script>
  $(window).scroll(function () {
    if ($(document).scrollTop() >= 301) {
        $('#sidemenu .caidan').addClass('fix');
        $('#breadcrumb').addClass('fix1');

    } else {
        $('#sidemenu .caidan').removeClass('fix');
        $('#breadcrumb').removeClass('fix1');
    }
  });
</script>
<script type="text/javascript">
  $(function(){
    $('#sidemenu').visualNav({
      link: 'a',         // add a link class, as necessary (e.g. 'a.menu')
      targetAttr: 'href',      // added in case you have link = "div" and attribute something like
      selectedAppliedTo : 'li',        // where to add the selected class name; to only apply to the link, use the same value as is in the link option
      contentClass: 'content',   // content class to get height of the section
      contentLinks: 'visualNav', // class name of links inside the content that act like the visualNav menu (smooth scroll)
      externalLinks: 'external',  // class name of links that link to external content.
      useHash: true,        // if true, the location hash will be updated

      // Classes added to items
      inViewClass: 'inView',    // css class added to items in the viewport
      selectedClass: 'selected',  // css class applied to menu when a link is selected (highlighted)
      currentContent: 'current',   // css class applied to the content block when it is currently selected in the menu.

      // Appearance
      bottomMargin: 100,         // margin from the end of the page where the last menu item is used (in case the target is short)
      fitContent: false,       // If true, the contentClass width will be adjusted to fit the browser window (for horizontal pages).
      offsetTop: 80,           // add a top offset value (pixels) or jQuery element (height is measured), of any top menu or gap.
      scrollOnInit: false,       // scroll to first item automatically on initialization

      // Animation
      animationTime: 500,        // page scrolling time in milliseconds or function( distance ) { return milliseconds; }
      stopOnInteraction : true,        // if the user presses any key or scrolls the mouse, the animation will cancel
      easing: [ 'swing', 'swing' ], // horizontal, vertical easing; it might be best to leave one axis as swing [ 'swing', 'easeInCirc' ]

      // Callbacks
      // visNav is visualNavigation object (see the callbacks page)
      // $selected is a jQuery object of the currently selected content (class name from "contentClass")
      initialized: function(visNav, $selected){ }, // Callback executed when the visualNav plugin has finished initializing
      beforeAnimation: function(visNav, $selected){ }, // Callback executed before the animation begins moving to the targetted element
      complete: function(visNav, $selected){ }, // Callback executed when the targetted element is in view and scrolling animation has completed
      changed: function(visNav, $selected){ }  // Callback executed every time the current menu item changes

    });
  });
</script>
